# Configuration of the camera
camera:
{
    resolution = { width = 1280; height = 720; };
    position = { x = 0; y = 20; z = -120; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    cones = (
        {
            center = { x = 0; y = 0; z = 0; };
            radius = 22.0;
            height = 70.0;
            axis = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 220; g = 80; b = 45; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -35; z = 70; };
            length = 260.0; width = 260.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 220; g = 220; b = 220; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.15;
    diffuse = 1.0;

    ambient-color = (
        {
            origin = { x = 100; y = 35; z = 10; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};
