# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 2; z = 0; };
    rotation = { x = 0; y = -3; z = 0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        { 
            center = { x = -6; y = 5; z = 8; };
            radius = 2; 
            material = { color = { r = 0; g = 255; b = 0; }; reflectivity = 0.8;};
        },
        { 
            center = { x = 0; y = 1.5; z = 6; };
            radius = 1.5; 
            material = { color = { r = 255; g = 0; b = 0; }; transparency = 0.8; };
        },
        { 
            center = { x = 2; y = 1; z = 6.5; };
            radius = 1.7; 
            material = { color = { r = 0; g = 0; b = 255; }; };
        }
    );

    # List of planes
    planes = (
        { 
            center = { x = 0; y = -2; z = 0; };
            length = 10000.0; width = 10000.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { color = { r = 255; g = 255; b = 0; };}; 
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light

    AO = {
        radius = 10.0;
        samples = 64;
        intensity = 0.8;
    };

    point = (
        {
            origin = { x = -2; y = 10; z = 5; };
        },
        {
            origin = { x = 4; y = 12; z = 1; };
        }
    );
};