# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0.0; y = 60.0; z = -100.0; };
    rotation = { x = 15.0; y = 0.0; z = 0.0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    torus = (
        {
            center = { x = -40.0; y = 50.0; z = 20.0; };
            radius = 30.0;
            height = 10.0;
            axis = { x = 1.0; y = 1.0; z = -1.0; };
            material = { color = { r = 210; g = 70; b = 45; }; };
            transforms = {
                translation = { x = 0.0; y = 5.0; z = 0.0; };
                scaling = { x = 1.0; y = 2.0; z = 1.0; };
                rotation = { x = 90.0; y = 45.0; z = 0.0; };
            };
        }
    );

    box = (
        {
            center = { x = 40.0; y = 45.0; z = 20.0; };
            length = 30.0;
            width = 30.0;
            height = 30.0;
            normal = { x = -1; y = 1; z = -1; };
            material = { color = { r = 45; g = 120; b = 210; }; };
        }
    );

    planes = (
        {
            center = { x = 0.0; y = -35.0; z = 80.0; };
            length = 280.0; width = 280.0;
            normal = { x = 0.0; y = 1.0; z = 0.0; };
            material = { color = { r = 220; g = 220; b = 220; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.15;
    diffuse = 1.0;

    point-color = (
        {
            origin = { x = 0.0; y = 170.0; z = 0.0; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};