# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 60; z = -140; };
    rotation = { x = 15; y = 0; z = 0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    fractals = (
        {
            a = { x = -40.0; y = -30.0; z = 40.0; };
            b = { x = 40.0; y = -30.0; z = 40.0; };
            c = { x = 40.0; y = -30.0; z = 120.0; };
            d = { x = -40.0; y = -30.0; z = 120.0; };
            e = { x = 0.0; y = 90.0; z = 80.0; };
            depth = 4;
            material = { type = "color"; color = { r = 250; g = 0; b = 0; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -35; z = 80; };
            length = 280.0; width = 280.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 220; g = 220; b = 220; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.15;
    diffuse = 1.0;

    point-color = (
        {
            origin = { x = 0; y = 100; z = -30; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};
