# Configuration of the camera
camera:
{
    resolution = { width = 1280; height = 720; };
    position = { x = 0; y = 15; z = -30; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    mobiusstrip = (
        {
            center = { x = 0; y = 0; z = 60; };
            radius = 32.0;
            width = 30.0;
            axis = { x = 1.0; y = 2.0; z = 4.0; };
            material = { type = "color"; color = { r = 210; g = 70; b = 45; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -35; z = 80; };
            length = 280.0; width = 280.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 220; g = 220; b = 220; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.15;
    diffuse = 1.0;

    ambient-color = (
        {
            origin = { x = 30; y = 40; z = 0; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};