# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 10; z = -120; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72;
    renderer = "low-renderer"
};

# Primitives in the scene
primitives:
{
    objs: (
        {
            path = "scenes/jazon.obj";
            center = { x = -5; y = 4; z = -98; };
            material = { color = { r = 230; g = 230; b = 230; }; };
            transforms = {
                scaling = { x = 7; y = 7; z = 7; };
                rotation = { x = 0; y = 110; z = 0; };
            };
        }
    );

    planes = (
        {
            center = { x = 0; y = -38; z = 80; };
            length = 300.0; width = 300.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { color = { r = 215; g = 215; b = 215; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.18;
    diffuse = 1.0;

    AO = {
        radius = 0.5;
        samples = 16;
        intensity = 0.5;
    };

    point = (
        {
            origin = { x = -70; y = 20; z = -100}
        }
    )

    point-color = (
        {
            origin = { x = 50; y = 20; z = -40; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};
