# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 20; z = -100; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0; # In degree
};

# Primitives in the scene
primitives:
{
    # List of spheres
    spheres = (
        { 
            center = { x = 60; y = 40; z = 5; };
            radius = 25; 
            material = { type = "color"; color = { r = 255; g = 64; b = 64; }; };
        },
        { 
            center = { x = -40; y = 30; z = 20; };
            radius = 35;
            material = { type = "transparency"; color = { r = 64; g = 255; b = 64; }; transparency = 0.5; };
            transforms = {
                translation = { x = 0; y = 0; z = 0 };
            };
        }
    );
    
    # List of planes
    planes = (
        { 
            center = { x = 0; y = -20; z = 0; };
            length = 10000.0; width = 10000.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 230; g = 230; b = 230; }; }; 
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light

    directional = (
        {
            origin = { x = 50; y = 80; z = -10; };
            direction = { x = -0.5; y = -1; z = 0; };
            radius = 40.0;
        }
    );
};