# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 10; z = -120; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    triangles = (
        {
            a = { x = -35; y = -35; z = 55; };
            b = { x = 0; y = 35; z = 55; };
            c = { x = 35; y = -35; z = 55; };
            material = { type = "color"; color = { r = 220; g = 65; b = 50; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -38; z = 80; };
            length = 300.0; width = 300.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 215; g = 215; b = 215; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light

    ambient-color = (
        {
            origin = { x = 95; y = 45; z = -20; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};
