# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 25; z = -150; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 65.0;
};

# Primitives in the scene
primitives:
{
    cylinders = (
        {
            center = { x = 0; y = 0; z = 70; };
            radius = 20.0;
            height = 70.0;
            axis = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 190; g = 70; b = 45; }; };
        }
    );

    spheres = (
        {
            center = { x = -35; y = -25; z = 70; };
            radius = 15.0;
            material = { type = "color"; color = { r = 80; g = 150; b = 230; }; };
        },
        {
            center = { x = 35; y = -25; z = 70; };
            radius = 15.0;
            material = { type = "color"; color = { r = 80; g = 150; b = 230; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -35; z = 85; };
            length = 300.0; width = 300.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 220; g = 220; b = 220; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.18;
    diffuse = 1.0;

    ambient-color = (
        {
            origin = { x = 100; y = 45; z = 30; };
            color = { r = 255; g = 255; b = 255; };
        }
    );
};
