# Configuration of the camera
camera:
{
    resolution = { width = 1920; height = 1080; };
    position = { x = 0; y = 18; z = -110; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 62.0;
};

# Black and yellow cinematic scene
primitives:
{
    spheres = (
        {
            center = { x = -58; y = 12; z = 58; };
            radius = 22;
            material = { type = "color"; color = { r = 0; g = 0; b = 0; }; };
        }
    );

    planes = (
        {
            center = { x = 0; y = -38; z = 140; };
            length = 360.0; width = 520.0;
            normal = { x = 0; y = 1; z = 0; };
            material = { type = "color"; color = { r = 0; g = 0; b = 0; }; };
        },
        {
            center = { x = 0; y = 0; z = 285; };
            length = 520.0; width = 360.0;
            normal = { x = 0; y = 0; z = -1; };
            material = { type = "color"; color = { r = 0; g = 0; b = 0; }; };
        },
        {
            center = { x = -135; y = 0; z = 130; };
            length = 360.0; width = 520.0;
            normal = { x = 1; y = 0; z = 0; };
            material = { type = "color"; color = { r = 0; g = 0; b = 0; }; };
        },
        {
            center = { x = 135; y = 0; z = 130; };
            length = 360.0; width = 520.0;
            normal = { x = -1; y = 0; z = 0; };
            material = { type = "color"; color = { r = 0; g = 0; b = 0; }; };
        }
    );
};

# Light configuration
lights:
{
    ambient = 0.02;
    diffuse = 1.8;

    ambient-color = (
        {
            origin = { x = -95; y = 82; z = -15; };
            color = { r = 255; g = 205; b = 38; };
        }
    );
};
